<div class="main-container">
    <h1> Edit and Resend Zen</h1>
    <div class="card">
        <div class="card-body ">
            <!-- Form -->
            <form id="form" action="/main/resend-zen/{{this.id}}" method="POST" enctype="multipart/form-data">
            <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="email" class="form-control" name="destination" placeholder="Destination Email" required><br>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="text" class="form-control" name="title" value="{{title}}" placeholder="Title" required><br>
                        </div>
                    </div>
                </div>
                <div class="md-form mt-0">
                    <input type="text" class="form-control" name="description" value="{{description}}" placeholder="Description" required><br>
                </div>
                <div class="custom-file">
                    
                    <input type="file" class="form-control-file custom-file-input" id="customFile" name="image">
                    <label for="customFile">sdfdsfds</label>
    
                </div>
                
                <br><br>
                <div class="md-form mt-0">
                    <input type="text" class="form-control" name="additional-info" value="{{additional_info}}" placeholder="Additional Info"><br>
                </div>
                {{#each links}}
                <div class="input-group md-form mt-0">
                    <input class="form-control" name="links[]" type="text" value="{{this}}" />
                    <button class="btn btn-success btn-add" type="button" onclick="add_link_field()">
                        <span>+</span>
                    </button>
                    <button class="btn btn-danger btn-add" type="button" onclick="remove_link_field(1)"><span>-<span>
                    </button>
                </div>
                <br>
                <div class="link_fields">
                </div>
                {{/each}}
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                type="submit">Send</button>
            </form>
        </div>

    </div>