<div class="main-container ">
    <div class ="container">
    <h1 class ="text-center">Zen History</h1>
    <small id="no-results-message">No results.</small>
    {{#if zens}}
    <div class="row">
        {{#each zens}}
        <div class="col-md-4">
            <div class="card text-center">
                <button type="button" class="close close-card" aria-label="Close">
                    <span aria-hidden="true" data-toggle="modal"
                        data-target="#exampleModal{{this._id}}">&times;</span>
                </button>
                <img src="{{this.image}}" class = "zen-image" alt="">
                <div class="card-body ">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text"><small class="text-muted">Sent by {{this._creator.username}} at
                            {{dateFormat this.created_at}}</small></p>
                    <a href="/main/resend-zen/{{this._id}}" class=" btn btn-primary">Resend</a>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Zen?</h5>
                        <div class="modal-links text-right">
                            <a href="/main/delete-zen/{{this._id}}" class="modal-delete-button">Delete</a>
                            <a data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h2> Click <span><a href="/main/create-zen">here</a> </span>and start Zening now!</h2>
    {{/if}}
</div>
</div>
