<div class="main-container">
    <div class = "container">
    <h5 class="text-center">Zen Board</h5>
<div class="alert alert-secondary mt-4" role="alert">
  Here you will see all Zens you have received!
</div>
    {{#if zens}}
    <div class="row">
        {{#each zens}}
        <div class="col-md-4 mb-4 mt-4">
            <div class="card text-center rounded h-100">
                <img src="{{this.image}}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text"><small class="text-muted">{{dateFormat this.created_at}}</small></p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <h2>Looks like you don't have any Zens yet... Click <span><a href="/main/create-zen">here</a> </span>and start Zening now!</h2>
    {{/if}}
</div>
</div>