<div class="main-container">
    <div class = "container">
    <h5 class="text-center">Zen Board</h5>
    <form class="form-inline" id="search-form">
                  <div class="md-form my-0 search-input">
                    
                    <input id="search-input" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                  </div>
                </form>
                <br>
                 <small id="no-results-message">No results.</small>

    {{#if zens}}
    <div class="row">
        {{#each zens}}
        <div class="col-md-4 mb-4 mt-4">
            <div class="card text-center rounded h-100">
                <img src="{{this.image}}" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <hr>
                    <p class="card-text">{{this.description}}</p>
                    <p class="card-text">{{this.additional}}</p>
                    {{#each links}}
                    <p class="card-text"><a href="{{this}}">Info</a></p>
                    {{/each}}
                    <br><br>
                     <div class="card-footer no-border">
                         <hr>
                    <p class="card-text"><small class="text-muted">Sent by {{this._creator.username}} at {{dateFormat this.created_at}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
        <div class = "container">
    <div class="alert alert-info mt-4 text-center" role="alert">
    <h5>A collection of Zens you have received! Looks like you don't have any Zens yet... Click <span><a href="/main/create-zen">here</a> </span>to start Zening now!</h5>
    </div>
    </div>
    {{/if}}
</div>
</div>
</div>